:root {
  --color-gris: #2c343e;
  --color-crema: #fdd5ba;
  --color-blanco: #fefcf6;
  --color-verde: #0d8784;
  --color-gris-oscuro: #d4d4d2;
  --color-gris-claro: #83888e;
  --color-hover--btn: #66d2cf;
  --color-hover--nav: #333d4b;
  --typography-titulos: 'Fraunces', serif;
  --typography-parrafos: 'Barlow', serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

main {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 125rem;
}

.header__link,
p {
  font-family: var(--typography-parrafos);
}

h1,
h2,
h3,
h4,
.btn {
  font-family: var(--typography-titulos);
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  background-color: var(--color-verde);
  color: var(--color-blanco);
  padding: 1.5rem 3rem;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  transition: all 0.5s;
}

.btn:hover {
  background-color: var(--color-hover--btn);
}

.collection {
  margin: 9rem;
}

.collection__tittle {
  font-size: 15rem;
  margin-bottom: -8rem;
  background-image: linear-gradient(180deg, #83888f 0%, #fefcf7 80%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.collection__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.collection__coffee {
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection__img {
  width: 80%;
}

.collection__name {
  font-size: 2.4rem;
  color: var(--color-hover--nav);
  margin: 3rem 0rem;
}

.collection__text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-hover--nav);
}

.hero {
  margin-top: 1.5rem;
  background-image: url(../../img/image-hero-coffeepress.jpg);
  height: 56rem;
  background-size: cover;
  border-radius: 0.8rem;
  position: relative;
}

.hero__container {
  left: 8.5rem;
  top: 11.5rem;
  position: absolute;
  max-width: 50rem;
}

.hero__tittle {
  color: var(--color-blanco);
  line-height: 1;
  font-size: 7.2rem;
}

.hero__text {
  margin: 3rem 0rem 4rem 0rem;
  color: var(--color-blanco);
  opacity: 80%;
  font-size: 1.6rem;
  width: 40rem;
  line-height: 1.5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0rem;
}

.header__list {
  display: flex;
  gap: 3rem;
}

.header__item {
  list-style: none;
}

.header__link {
  color: var(--color-gris-claro);
  font-size: 1.2rem;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s;
  font-weight: 700;
}

.header__link:hover {
  color: var(--color-hover--nav);
}
