.collection {
	margin: 9rem;

	&__tittle {
		font-size: 15rem;
		margin-bottom: -8rem;
		background-image: linear-gradient(180deg, #83888f 0%, #fefcf7 80%);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 4rem;
	}

	&__coffee {
		flex: 0 1 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__img {
		width: 80%;
	}

	&__name {
		font-size: 2.4rem;
		color: var(--color-hover--nav);
		margin: 3rem 0rem;
	}
	&__text {
		font-size: 1.6rem;
		line-height: 2.6rem;
		color: var(--color-hover--nav);
	}
}
