// ! ========= SECTION HERO =========
.hero {
	margin-top: 1.5rem;
	background-image: url(../../img/image-hero-coffeepress.jpg);
	height: 56rem;
	background-size: cover;
	border-radius: 0.8rem;
	position: relative;

	&__container {
		left: 8.5rem;
		top: 11.5rem;
		position: absolute;
		max-width: 50rem;
	}

	&__tittle {
		color: var(--color-blanco);
		line-height: 1;
		font-size: 7.2rem;
	}
	&__text {
		margin: 3rem 0rem 4rem 0rem;
		color: var(--color-blanco);
		opacity: 80%;
		font-size: 1.6rem;
		width: 40rem;
		line-height: 1.5;
	}

	&__btn {
		background-color: var(--color-verde);
	}
}
// ! ========= SECTION COLLECTION ========= /
.collection {
	margin: 20rem 9rem;
	&__tittle {
		font-size: 15rem;
		margin-bottom: -8rem;
		background-image: linear-gradient(180deg, #83888f 0%, #fefcf7 80%);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}
}

// ! ========= SECTION BENEFITS ========= /

.benefits {
	background-color: var(--color-gris);
	height: 58rem;
	border-radius: 0.8rem;

	&__container {
		max-width: 55rem;
		margin: 0 auto;
		padding-top: 10rem;
		text-align: center;
		margin-bottom: 5rem;
	}

	&__tittle {
		color: var(--color-blanco);
		font-size: 4rem;
		margin-bottom: 3rem;
	}

	&__text {
		color: var(--color-blanco);
		opacity: 80%;
	}

	&__sub-container {
		display: flex;
		margin: 0rem 8rem;
		gap: 2rem;
	}
}
// ! ========= SECTION WORK ========= /
.works {
	margin-top: 20rem;

	&__tittle {
		color: var(--color-gris-claro);
		font-size: 2.4rem;
		margin-bottom: 6rem;
	}

	&__container {
		display: flex;
		margin-bottom: 9rem;
		// gap: 3rem;
	}

	&__sub-container {
		flex: 0 1 100%;
	}
	&__number {
		color: var(--color-crema);
		font-size: 7.2rem;
	}

	&__sub-tittle {
		font-size: 3.2rem;
		margin: 2rem 0rem;
		color: var(--color-hover--nav);
	}

	&__text {
		width: 28rem;
		color: var(--color-hover--nav);
	}

	&__draw {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 6rem;
	}

	&__bullet {
		background-color: transparent;
		width: 3rem;
		height: 3rem;
		border-radius: 100%;
		border: 0.2rem solid var(--color-verde);
	}

	&__line {
		width: 95%;
		background-color: transparent;
		border: 0.1rem solid var(--color-crema);
		height: 0.1rem;

		&--none {
			border: none;
		}
	}

	&__btn {
		background-color: var(--color-verde);
	}
}
