// ! ========= SECTION ABOUT HERO ========= /
.plan-hero {
	margin-top: 1.5rem;
	background-image: url(../../img/image-hero-blackcup.jpg);
	height: 56rem;
	background-size: cover;
	border-radius: 0.8rem;
	background-position: center;
	position: relative;
	margin-bottom: 10rem;

	&__container {
		left: 8.5rem;
		top: 11.5rem;
		position: absolute;
		max-width: 50rem;
	}

	&__tittle {
		color: var(--color-blanco);
		line-height: 1;
		font-size: 7.2rem;
	}
	&__text {
		margin: 3rem 0rem 4rem 0rem;
		color: var(--color-blanco);
		opacity: 80%;
		font-size: 1.6rem;
		width: 40rem;
		line-height: 1.5;
	}
}

// ! ========= SECTION STEPS ========= /

.steps {
	margin-top: 20rem;
	background-color: var(--color-gris);
	padding: 9rem;

	&__container {
		display: flex;
		margin-bottom: 9rem;
	}

	&__sub-container {
		flex: 0 1 100%;
	}
	&__number {
		color: var(--color-crema);
		font-size: 7.2rem;
	}

	&__sub-tittle {
		font-size: 3.2rem;
		margin: 2rem 0rem;
		color: var(--color-blanco);
	}

	&__text {
		width: 28rem;
		color: var(--color-blanco);
	}

	&__draw {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 6rem;
	}

	&__bullet {
		background-color: transparent;
		width: 3rem;
		height: 3rem;
		border-radius: 100%;
		border: 0.2rem solid var(--color-verde);
	}

	&__line {
		width: 95%;
		background-color: transparent;
		border: 0.1rem solid var(--color-crema);
		height: 0.1rem;

		&--none {
			border: none;
		}
	}
}
